<h1 class="title has-text-centered">About Us</h1>
<div class="content">
  <h2 class="subtitle">Message</h2>
  <p><%= @about.message %></p>
</div>

<div class="content">
  <h2 class="subtitle">History</h2>
  <p><%= @about.History %></p>
</div>