<h1 class="title has-text-centered">Contact Us</h1>
<div class="contact-info">
  <p><strong>Name:</strong> <%= @contact.name %></p>
  <p><strong>Email:</strong> <%= @contact.email %></p>
</div>
<div class="contact-message">
  <p><strong>Message:</strong></p>
  <p><%= @contact.message %></p>
</div>
