.nav-bar-menu ul li {
  display: inline;
  text-decoration: none;
}

.nav-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #ffffff;
  color: #fff;
  text-decoration: none;
  border: solid;
  border-radius: 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #9b9b9b;
}