<h1>Laptops</h1>
<ul>
  <% @laptops.each do |laptop| %>
    <li>
      <%= link_to laptop.brand + ' ' + laptop.laptop_name, laptop %> - $<%= number_with_delimiter(number_with_precision(laptop.price, precision: 2)) %>
    </li>
    <% end %>
</ul>
