<header class="navbar">
  <div class="nav-bar-menu">
    <ul>
      <li><%= link_to "Home", root_path, class: "nav-button" %></li>
      <li><%= link_to "Laptop", laptops_path, class: "nav-button" %></li>
    </ul>
  </div>
</header>