<header class="navbar">
  <div class="nav-bar-menu">
    <ul>
      <li><%= link_to "Home", root_path, class: "nav-button" %></li>
      <li><%= link_to "About", about_path, class: "nav-button" %></li>
      <li><%= link_to "Contact", contact_path, class: "nav-button" %></li>
      <li><%= link_to "Cart", carts_path, class: "nav-button" %></li>
    </ul>
  </div>
</header>